@import "css/_dimensions";

:root {
  --baseColor: rgb(168, 116, 76);
  --secondaryColor: rgb(87, 141, 67);
  --thirdColor: rgb(194, 178, 128);
  --fourthColor: rgb(120, 91, 59);
  --accentColor: rgb(255, 204, 92);
  --darkText: black;
  --lightText: white;

  // --baseColor: #a8744c;
  // --secondaryColor: #578d43;
  // --thirdColor: #c2b280;
  // --fourthColor: #785b3b;
  // --accentColor: #ffcc5c;
}

$washedGrey: rgba(245, 245, 245, 1);
$titleContainerWidth: 40px;
$transparent: rgba(255, 255, 255, 0);
$strokeColor: var(--accentColor);

.resultCard {
  composes: unselectable from "css/properties/unselectable.module.scss";
  color: black;
  background-color: var(--baseColor);
  width: 100%;
  max-height: 100%;
  max-width: 400px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid var(--fourthColor);
  // border: 5px solid var(--accentColor);
  // border: 5px solid var(--secondaryColor);
  box-sizing: border-box;
  letter-spacing: 0.0001px;
  // letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  overflow-y: scroll;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--thirdColor);
  box-sizing: border-box;

  .numberContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    .circle {
      height: 15px;
      width: 15px;
      background-color: none;
      border-radius: 50%;
      border: black 1px solid;
    }
  
    .number {
      white-space: pre;
      font-size: 8px;
    }
  }

  .name {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
  }


  h4 {
    text-align: left;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 2px;
    transform-origin: left;
  }

  p {
    margin: 0;
    font-weight: bold;
  }

  .resultElement {
    // margin-top: 12px;
    margin-top: -9px;
    font-size: 24px;
  }

  .resultTitle {
    font-size: 10px;
    text-transform: uppercase;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px;
    width: 40%;
  }

  .typeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px;
    width: 60%;
    text-align: end;
    background-color: $washedGrey;
    z-index: 1;
  }
}

.content {
  width: 100%;
  // display: flex;
  box-sizing: border-box;
  background-color: var(--thirdColor);

  .elementSection,
  .theorySection {
    position: relative;
    display: flex;

    .titleContainer {
      width: $titleContainerWidth;
      position: relative;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }

  .innateContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: var(--baseColor);
    position: relative;
    z-index: 1;

    .titleContainer {
      background: -moz-linear-gradient(270deg, var(--thirdColor) -20%, $transparent 100%);
      background: -webkit-linear-gradient(270deg, var(--thirdColor) -20%, $transparent 100%);
      background: linear-gradient(270deg, var(--thirdColor) -20%, $transparent 100%);
    }

    .oval1, .oval2, .oval3 {
      position: absolute;
      // width: 50%;
      width: calc(2 * $titleContainerWidth);
      height: 100%;
      border: 3px solid var(--thirdColor);
      border-radius: 50%;
      box-sizing: border-box;
      z-index: -1;
      // opacity: 0.5;
    }

    .oval1 {
      left: 0;
    }
    .oval3 {
      right: 0;
    }
  }

  @mixin stroke($color: $strokeColor, $size: 1px) {
    text-shadow:
      -#{$size} -#{$size} 0 $color,
       0        -#{$size} 0 $color,
       #{$size} -#{$size} 0 $color,
       #{$size}  0        0 $color,
       #{$size}  #{$size} 0 $color,
       0         #{$size} 0 $color,
      -#{$size}  #{$size} 0 $color,
      -#{$size}  0        0 $color;
  }
  

  .innateTitle,
  .conceptTitle {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    z-index: 100;
    transform: translateX(calc(-50% + $titleContainerWidth / 2)) rotate(-90deg);
  }

  // .conceptTitle {
  //   background-color: var(--thirdColor);
  // }

  .innateTags,
  .concepts {
    padding: 10px 0;
    box-sizing: border-box;
    font-size: 10px;
  }

  .concepts {
    padding: 10px;
  }

  .conceptTags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .tag {
      box-sizing: border-box;
      border: 2px solid var(--secondaryColor);
    }
  }

  .elementSection {
    // background-color: rgb(255, 255, 255, 0.2);

    .innateTags {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
    }
    .tag {
      background-color: $washedGrey;
      box-sizing: border-box;
      border: 2px solid var(--secondaryColor);
      text-align: center;
      border-radius: 100px;
      padding: 5px 8px;
      font-size: 8px;
    }
  }

  .theorySection {
    .oval1, .oval2, .oval3 {
      position: absolute;
      height: 33%;
      background: var(--thirdColor);
      background: -moz-linear-gradient(180deg, var(--thirdColor) -20%, var(--baseColor) 100%);
      background: -webkit-linear-gradient(180deg, var(--thirdColor) -20%, var(--baseColor) 100%);
      background: linear-gradient(180deg, var(--thirdColor) -20%, var(--baseColor) 100%);
      border-radius: $titleContainerWidth 0 0 $titleContainerWidth;
      width: 100%;
    }

    .oval1 {
      top: 0;
    }
    .oval3 {
      bottom: 0;
    }

    .tag {
      background-color: $washedGrey;
      text-align: center;
      border-radius: 10px;
      padding: 2px 8px;
      font-size: 8px;
    }

    .section {
      background-color: $washedGrey;

      box-sizing: border-box;
      border: 2px solid var(--secondaryColor);
      border-radius: 15px;
      padding: 10px 8px;
      margin-bottom: 10px;
      font-size: 8px;
    }

    .concept {
      font-weight: bold;
    }

    .conceptDesc {
      font-weight: normal;
    }
  }

  .iconContainer {
    position: relative;
    margin-left: auto;
    // padding: 20px 10px;
    padding: 10px;
    // background-color: rgba(0, 0, 0, 0.2);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $washedGrey;
    // background: 
    //   // linear-gradient(135deg, #0000 18.75%, #5e412f 0 31.25%, #0000 0),
    //   // repeating-linear-gradient(45deg, #5e412f -6.25% 6.25%, #fcebb6 0 18.75%);
    //   linear-gradient(45deg, #0000 18.75%, var(--thirdColor) 0 31.25%, #0000 0),
    //   repeating-linear-gradient(135deg, var(--thirdColor) -6.25% 6.25%, var(--baseColor) 0 18.75%);
    background-size: 50px 50px;

    .ovalContainer {
      position: absolute;
      z-index: 0;
      height: 100%;
      width: 100%;
    }

    .oval1,
    .oval2,
    .oval3,
    .oval4,
    .oval5,
    .oval6 {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 25% 70%;
      box-sizing: border-box;
      border: 3px solid white;
      top: 0;
      right: 0;
    }

    .oval6 {
      height: 25%;
      width: 25%;
    }
    .oval5 {
      height: 40%;
      width: 40%;
    }
    .oval4 {
      height: 55%;
      width: 55%;
      border-width: 3px;
    }
    .oval3 {
      height: 70%;
      width: 70%;
    }
    .oval2 {
      height: 85%;
      width: 85%;
    }
  }
  .elementIcon {
    // mix-blend-mode: darken;
    width: 70%;
    max-height: 150px;
    max-width: 150px;
    z-index: 100;
    position: absolute;
  }
}

.compatibility {
  width: 100%;
  padding: 5px;
  gap: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: auto;

  .label {
    font-weight: bold;
    font-size: 10px;
    // word-spacing: 20px;
    white-space: pre;
  }

  .compatible,
  .incompatible {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: $washedGrey;
    border-radius: 10px;
    padding: 10px;
  }

  .element {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .elementIcon {
    max-width: 30px;
    mix-blend-mode: darken;
  }

  .type {
    margin: 0;
    font-size: 7px;
    white-space: nowrap;
  }
}

.watermark {
  width: 100%;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  padding: 2px 0 3px;
  background-color: var(--secondaryColor);

  .watermarkText {
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    // text-transform: uppercase;
    // color: var(--baseColor);
    color: var(--accentColor);
    display: flex;
    align-items: center;
    // Start slightly offset to look more natural if animation doesn't load
    transform: translate3d(-10%, 0, 0);
    animation: animateWatermark 50s linear infinite;
    // mix-blend-mode: multiply;

    .logo {
      height: 10px;
      mix-blend-mode: difference;
    }

    span {
      margin: 0 10px;
    }
  }
}

.admin {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

@keyframes animateWatermark {
  from {
    transform: translate3d(-10%, 0, 0);
  }
  to {
    transform: translate3d(-110%, 0, 0);
  }
}

.footer {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--thirdColor);
  position: relative;
  z-index: 1;
}
.invert {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  // mix-blend-mode: multiply;
  z-index: -1;
};

.expoInfo {
  color: white;
  z-index: 1;
}

@media screen and (min-width: $mobileBreakpoint) {
  // .container {
  //   padding: 0 20%;
  // }
}
