@import "css/_dimensions";

.container {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  min-height: 450px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  padding: 0 20px;
  overflow: hidden;
  overflow-y: auto;

  &>h1 {
    margin-bottom: 10px;
  }
}

.settingWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.hint {
  width: 100%;
  font-size: 11px;
  font-style: italic;
  margin-top: 10px;
}

.divider {
  width: 100%;
  // style divider to only be 1 pixel thickness white at 80% opacity
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: $mobileBreakpoint) {
  .container {
    padding: 0 20%;
  }
}
