// $arrowSize: 20px;
// $hoverColor: rgb(91, 96, 98);

.pageContainer {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 450px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  // border: 3px orange solid;
  // overflow: hidden;
}

.testButtons {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: none;
}
